.companies {
    width: 100%;
    height: auto;
    padding: 160px 0 0 0;
    margin: 56px 0 104px 0;
    display: flex;
    justify-content: center;
}
.companies-title-container {
    display: flex;
    justify-content: center;
    height: 98px;
}
.companies-title-container h3 {
    text-align: center;
}
.companies-container {
    max-width: 1320px;
    width: 100%;
}
.companies-logos-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 200px));
    place-content: center;
    
}
@media(max-width:992px) {
    .companies-logos-container {
        width: 720px;
        margin: 0 auto;
    }
}
@media(max-width:760px) {
    .companies-logos-container {
        width: 90%;
        margin: 0 auto;
    }
}