
.beginnings {
    width: 100%;
    height: fit-content;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    background-color: white;
  }
  .beginnings-title-description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 56px;
  }

  .beginnings-photos {
    display: grid;
    grid-template-columns: 1.1fr .8fr;
    grid-template-rows: 404px;
    gap: 20px;
  }
  .beginnings-photos-container {
    height: fit-contentS;
  }
  .beginnings-photos-container div.beginnings-photos-container-second {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 390px;
    
  }
  .beginnings-desc-container {
    padding: 16px;
    overflow: hidden;
  }
  .beginnings-desc-container-photos div{
    border-radius: 20px;
  }
  .beginnings-desc-container{
    width: 100%;
  }
  div.beginnings-desc-container p {
    color: gray;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 64px;
    width: 100%;
  }
  .beginnings-desc-container-photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    gap: 20px;
  }
  .beginnings-photos-container-second div {
    overflow: hidden;
  }
  .beginnings-desc-container-photos div img,
  .beginnings-photos-container div.beginnings-photos-container-second div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    margin-bottom: 8px;
    padding: 0 16px;
  }

  @media(max-width: 1280px) {
    .beginnings-container {
      max-width: 960px;
      align-items: center;
    }
    .beginnings-title-description .title-desc .title{
      width: 100%;
    }
    .beginnings-photos {
      grid-template-columns: 1fr;
    }    
    .beginnings-desc-container-photos {
      grid-template-rows: 355px;
      
    }
  }
  @media(max-width:992px) {
    .beginnings {
      padding: 56px 0;
    }
  }
  @media (max-width:768px){
    .beginnings-container {
      width: 508px;
      margin: 0 auto;
    }
    .beginnings-photos-container div.beginnings-photos-container-second {
      grid-template-columns: 1fr;
      grid-template-rows: none;
      gap: 32px;
    }
    .beginnings-photos {
      display: flex;
      flex-direction: column;
      height: fit-content;
    }
   
    .beginnings-photos-container-second div {
      overflow: visible;
      object-fit: none ;
    }
    .beginnings-desc-container-photos {
      display: flex;
      flex-direction: column;
    }
  }