section.entertainment {
    background-color: #FF5938;
    width: 100%;
    padding: 120px 0;
    display: flex;
    justify-content: center;
  }
  .entertainment-container {
    max-width: 1320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
  }
  .entertainment-container-item {
    max-width: 45%;
    height: auto;
    margin: 0 32px 16px 0;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .entertainment-container-item div.description{
    margin-right: 72px;
  
  }
  .entertainment-container-item div.description h2{
    color: white;
    font-size: 56px;
    margin-bottom: 16px;
    font-weight: 100;
  }
  .entertainment-container-item div.description p{
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
  }
  @media(max-width:992px) {
    div.entertainment-container-item:nth-child(4) {
      display: none;
    }
    .entertainment-container{
      width: 720px;
      display: grid;
      grid-template-areas: "uno uno"
                          "dos tres";
      place-content: center;
      gap: 30px;
    }
    div.entertainment-container-item {
      max-width: 100%;
      margin: 0;

    }
    div.entertainment-container-item:nth-child(1) {
      grid-area: uno;
    }
    div.entertainment-container-item:nth-child(2) {
      grid-area: dos;
    }
    div.entertainment-container-item:nth-child(3) {
      grid-area: tres;
    }
  }