section.nav {
    width: 100%;
    height: 680px;
    position: relative;
  }
  .checkbox {
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0;
    top: -8px;
    z-index: 100;
    
  }
  .navbar {
    width: 100%;
  }
.container-nav{
  width: 100%;
  display: flex;
  border-top: 3px solid #FF5938;
  justify-content: center;
  position: fixed;
  height: 98px;
  transition: 800ms;
  z-index: 1;
}
  .container-navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
  }
  .navbar-trans {
    background-color: transparent;
  }
  .navbar-blue {
    background-color: #261F44;
  }
  .navbar-nav{
    display: flex;
    align-items: center;
    height: 74px;
    color: white;
  }
  .navbar-collapse {
    display: flex;
    align-items: center;
  
  }
  .navbar-toggler, .disabled {
    display: none;
  }
  .nav-link {
    padding: 1rem 0;
    margin-right: 2rem;
    color: inherit;
    font-size: 16px;
    width:fit-content ;
    height: 52px;
  }
  .dropdown-menu {
    display:none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h4 {
    margin-bottom: 2px;
  }
  .nav-item {
    position: relative;
  }
  .nav-item:hover .dropdown-menu {
    width: fit-content;
    display: block;
    background-color: rgb(255, 255, 255);
    text-align: left;
    position: absolute;
    top: 35px;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 4px;
  }
  .dropdown-menu::before {
    content: 'he';
    color:transparent;
    width: 12px;
    height: 12px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: rotate(45deg);
    top: -6px;
  }
  .dropdown-menu li a h4 {
    font-size: 14px;
    margin: 0;
  }
  .dropdown-menu li{
    font-size: 14px;
    margin-bottom: 20px;
    white-space: nowrap;
  
  }
  .dropdown-menu li a h4 span{
    font-size: 12px;
    background-color: green;
    color: inherit;
    padding: 2px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 4px;
  }
  .dropdown-menu li a p {
    color: gray;
    font-size: 8px;
    white-space: nowrap;
  }
  .d-flex {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .dropdown-menu-lg-end{
    display: none;
  }
  .dropdown-submenu:hover  .dropdown-menu-lg-end {
    background-color: white;
    width: 120px;
    padding: .8rem;
    border-radius: 0.5rem;
    display: block;
    position:  absolute;
    left: -100px;
  }
  .dropdown-menu-lg-end::before {
    width: 65px;
    padding: .5rem 1rem;
    border-radius: 0.5rem 0.5rem 0 0 ;
    content: "lg";
    position: absolute;
    top: -30px;
    left: .20px;
    background-color: white;
    color: white;
    border-bottom: 2px solid orange;
    border-right: 20px solid transparent;
  }
  .dropdown-menu-lg-end .dropdown-item {
    font-size: 12px;
  }
  .dropdown-list-group-item div div h5 {
    font-size: 14px;
    margin: 0;
  }
  .dropdown-list-group-item div div span {
    font-size: 12px;
    color: gray;
  }
  .btn-primary {
    background-color: #FF5938;
    padding:.5rem 1rem;
    border-radius: .2rem;
    font-size: 14px;
    color: white;
  }
  
  @media(max-width:992px) {
    .checkbox {
      display: block;
    }
    .navbar-collapse {
      display: none;
      position: absolute;
      top: 28px;
      width: 100%;
      background-color: white;
      color: black;
      padding: 4px;
      border-radius: 8px 0 0 8px;
      transition: 300ms;
      height: fit-content;
    }
    .container-nav {
      justify-content: space-around;
    }
    .container-navbar-container {
      width: 98%;
      justify-content: space-between;
      position: relative;
    }
    
    
    .checkbox:checked ~  ul.navbar-collapse {
      display: block;
      z-index: 100;
      transition: 250ms;
    }
    
    .navbar-nav{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 74px;
      color: inherit;
      background-color: white;
      height: fit-content;
    }
    .nav-item {
      border-bottom: 1px solid rgb(233, 229, 229);
      width: 100%;
      padding: 12px 20px;
    }
    
  }